<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/ProductList.css}">
    <title>SpringBoot-mall</title>
</head>
<body>
    <div class="container">
        <form id="searchForm" method="get">
            <label for="productId">搜尋商品編號</label>
            <input type="text" id="productId" name="productId" />
            <button type="button" onclick="submitForm()">搜尋</button>
        </form>
    </div>
    <div class="container">
        <ul th:each="product : ${productList}" class="row">
            <li><img th:src="*{product.imageUrl}" alt="Image"></li>
            <li th:text="'商品編號 : ' + *{product.productId}"></li>
            <li th:text="'商品名稱 : ' + *{product.productName}"></li>
            <li th:text="'商品庫存 : ' + *{product.stock}"></li>
            <li th:text="'商品價格 : ' + *{product.price}"></li>
            <li th:text="'商品描述 : ' + *{product.description}"></li>
            <a th:href="@{/modifyProduct}">
                <button class="modBtn" >修改商品</button>
            </a>
        </ul>
    </div>
<script th:src="@{/JS/searchProduct.js}"></script>
</body>

</html>