<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/ProductList.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <form method="get" action="/searchProduct">
            <!-- input : 文字欄位 type 要用 text -->
            <!-- 命名此標籤的名稱 name -->
            <label>
                <input type="text" name="productId" placeholder="請輸入商品編號">
            </label>
            <!-- 送出的 type 為 submit。value 更改按鈕名稱 -->
            <input type="submit" value="搜尋">
        </form>
    </div>
    <div class="container">
        <ul th:each="product : ${productList}" class="row">
            <li><img th:src="*{product.imageUrl}" alt="Image"></li>
            <li th:text="'商品編號 : ' + *{product.productId}"></li>
            <li th:text="'商品名稱 : ' + *{product.productName}"></li>
            <li th:text="'商品庫存 : ' + *{product.stock}"></li>
            <li th:text="'商品價格 : ' + *{product.price}"></li>
            <li th:text="'商品描述 : ' + *{product.description}"></li>
        </ul>
    </div>
</body>
</html>