<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot-mall</title>
    <link rel="stylesheet" th:href="@{/css/searchProduct.css}">
</head>
<body>
    <div th:object="${jsonString}" class="container">
        <ul  class="row">
            <li><img th:src="*{imageUrl}" alt="Image"></li>
            <li th:text="'商品名稱 : ' + *{productName}"></li>
            <li th:text="'商品庫存 : ' + *{stock}"></li>
            <li th:text="'商品價格 : ' + *{price}"></li>
            <li th:text="'商品編號 : ' + *{productId}"></li>
            <li th:text="'商品描述 : ' + *{description}"></li>
            <li th:text="'修改日期 : ' + *{lastModifiedDate}"></li>
            <li th:text="'商品類別 : ' + *{category}"></li>
            <li th:text="'建立日期 : ' + *{createDate}"></li>
        </ul>
        <a th:href="@{/index}">
            <button>返回主頁</button>
        </a>
    </div>
</body>
</html>