<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:object="${jsonString}">
        <img th:src="*{imageUrl}" alt="Image">
        <p th:text="'商品名稱 : ' + *{productName}"></p>
        <p th:text="'商品庫存 : ' + *{stock}"></p>
        <p th:text="'商品價格 : ' + *{price}"></p>
        <p th:text="'商品編號 : ' + *{productId}"></p>
        <p th:text="'商品描述 : ' + *{description}"></p>
        <p th:text="'修改日期 : ' + *{lastModifiedDate}"></p>
        <p th:text="'商品類別 : ' + *{category}"></p>
        <p th:text="'建立日期 : ' + *{createDate}"></p>

    </div>
</body>
</html>